@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #333;
}

body {
	background-color: #F7F9FB;
	padding: 24px;
	font-family: 'Roboto', sans-serif;
}

section, footer, header {
	background-color: #fff;
	margin-bottom: 24px;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #999999;
	line-height: 27px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}